@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/*	 ESTILOS GENERALES	*/
:root {
--blue1:  #154777;
--blue2: #C0DAE5;
--blue3: #154777b8;

--fondoGrey: #DCDDDE;
--grey: #868992;
--textHover: #DDDDDD;
--whitteSolid: #FFF;
--blackSolid:  #000000;
--degrayBlack:  #000000d4;
--textFocus:  #000000;
--degrayBlackLow:  #0000007d;
--greenTrasparente:  #56af3185;
--google: #4F6A77;

--font1: 'Poiret One', cursive;
--font2: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.colorSemiDegradado {
    background: rgba(143,143,143,0.3);
    background: -moz-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,143,143,0.3)), color-stop(25%, rgba(0,0,0,0.37)), color-stop(66%, rgba(0,0,0,0.47)), color-stop(100%, rgba(31,31,31,0.56)));
    background: -webkit-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -o-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -ms-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
}
.colorDegradado {
    background: rgba(38,38,38,1);
    background: -moz-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,38,38,1)), color-stop(20%, rgba(32,32,32,0.8)), color-stop(50%, rgba(23,23,23,0.8)), color-stop(80%, rgba(10,10,10,0.8)));
    background: -webkit-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -o-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -ms-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: linear-gradient(to bottom, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#0a0a0a', GradientType=0 );
}
body{
  font-family: 'Poiret One', cursive;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

h1 {
  font-family: var(--font1);
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: var(--font2);
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 15.4px;
}
p {
  font-family: var(--font2);
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}
  blockquote {
    font-family: var(--font2);
    font-size: 17.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
    }
  pre {
    font-family: var(--font2);
    font-size: 13px; font-style: normal;
    font-variant: normal;
    font-weight: 400; line-height: 18.5714px;
  }

  * {
    transition: width 2s;
  }
  body{
    max-width: 1366px;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin: auto;
  }

  .txtDer{
    text-align: left;
  }
  .txtIzq{
    text-align: right;
  }

#header{
  width: 100%;
  height: 100%;
  display: contents;
  position: relative;
  background-color: var(--google);
  position: relative;
  background: url(../images/bannerImage.jpg) center no-repeat;
  background-size: cover;
  display: block;
}
.contHeader{
  width: 100%;
  height: 760px;
  margin: 0px;
}
#navbar {
  z-index: 1;
  background-color: var(--whitteSolid);
  color: var(--blue1);
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1366px;
  height: 60px;
  display: flex;
  transition: top 0.3s;
  justify-content: center;
}

#navbar a {
  width: 20%;
  float: left;
  display: block;
  color: var(--blue1);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: var(--whitteSolid);
  color: var(--blackSolid);
  border-bottom: var(--blue1) solid 10px;
}
.contLogo{
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.logoHeader{
  width: 200px;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
}
.contIMG{
    width: 100%;
    height: 100%;
}

.circulo {
  width: 300px;
  height: 300px;
  top: -150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--whitteSolid);
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

.titleHome{
  top: 35%;
  left: 5%;
  display: block;
  position: absolute;
  color: var(--whitteSolid);
  font-size: 4em;
}
.SubTitleHome{
  top: 40%;
  left: 5%;
  display: block;
  position: absolute;
  color: var(--whitteSolid);
  font-size: 3em;
}
.btnHome {
  top: 60%;
  left: 5%;
  position: absolute;
  display: block;
  width: 200px;
  border: none;
  background-color: var(--blue1);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btnHome:hover {
    background-color: var(--blue2);
    color: var(--blue1);
}

#section{
  background-color: var(--fondoGrey);
  display: block;
}
.contAbout{
  top: -120px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  background-color: var(--fondoGrey);
}
.about{
  background-color: var(--fondoGrey);
  width: 100%;
  height: auto;
}

.boxAbout{
  top: -150px;
  width: 90%;
  height: 350px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--whitteSolid);
  position: relative;
  display: flex;
  border-bottom: var(--grey) solid 10px;
}
.txtAbout{
  width: 46%;
  height: 90%;
  padding: 2%;
  padding-bottom: 0px;
}
.valoresAbout{
  width: 46%;
  height: auto;
  padding: 2%;
  padding-bottom: 0px;
  background: var(--blue1);
}
.boxValor{
  display: flex;
  width: 96%;
  padding: 2%;
}
.txtValor1{
  color: var(--whitteSolid);
}
.txtValor2{
  font-size: 2em;
  writing-mode: vertical-lr;
  padding: 0px;
  text-align: -webkit-center;
  color: var(--whitteSolid);
}

.contCatact{
  width: 100%;
  height: auto;
  display: flex;
  top: -50px;
  position: relative;
}
.contSec{
  padding-left: 7%;
  padding-top: 1%;
  padding-bottom: 0px;
  width: 40%;
  height: auto;
  display: block;
  justify-content: center;
}

.boxDesc{
  width: 100%;
  display: flex;
}
.iconDescr{
  width: 100px;
  height: auto;
}
.txtDesc{
width: 60%
}
.CCalidad{
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.imgfondoCalidad{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  background-size: cover;
  display: flex;
}
/*PRIMER ICONO*/
.iconPerfect {
    background: url(../images/quality.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconPerfect {
    background: url(../images/qualityB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*ICONO 2*/
.iconPedidos {
    background: url(../images/cargo-truck.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconPedidos {
    background: url(../images/cargo-truckB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*TERCER ICONO*/
.iconHechos {
    background: url(../images/measuring-tape.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconHechos {
    background: url(../images/measuring-tapeB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*CUARTO 2*/
.iconAtencion {
    background: url(../images/customer-service.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconAtencion {
    background: url(../images/customer-serviceB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
.iconLogoC {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
  background-color: var(--blue1);
  border: var( --blue1) solid 5px;
}
.gralBox:hover .iconLogoC{
  background-color: var(--blue2);
}

.productos {
  background: url(../images/tapiz-min.png) center;
  display: block;
  width: 100%;
  height: auto;
}
.contTGralProd{
  width: 100%;
  height: auto;
}
.tProdGral{
  position: relative;
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
  color: var(--blue1);
  font-family: var(--font2);
}


/*Estilo de filtro de imagenes*/
#myBtnFilContainer{
	display: flex;
    justify-content: center;
        align-items: center;
}


.filterDiv {
  float: left;
  background-color: var(--blue1);
  color: #ffffff;
  width: 100%;
  height: 300px;
  text-align: center;
  display: none;
}

.showFil {
  display: block;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 52px;
    margin-bottom: 10%;
    overflow: hidden;
    justify-content: center;
}

/* Style the buttons */
.fbtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--blue2);
  cursor: pointer;
  font-size: 1.3em;
}

.fbtn:hover {
  background-color: #ddd;
}

.fbtn.active {
  background-color: var(--blue1);
  color: white;
}

.imagenAjustada {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.txtFiltro{
	background-color: coral;
	position: relative;
}


/**/
.contenedorIMG:hover .img {
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.contenedorIMG {
	overflow:hidden;
}

.img, .img:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px #666, 0px 5px 15px 0px #000;
    position: relative;
}

.txtTittleSector {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff00002e;
}



.card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #262626;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.details{
  display: flex;
  border: var(--blue1) solid 5px;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: var(--blue1);
    top: 0;
    left: 100%;
    /*padding: 60px 30px;*/
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
  margin: 20px 30px 10px;
  color: var(--blue1);
}

.ContSpecial{
	width: 100%;
	height: auto;
	    display: flex;
    justify-content: center;
}

.tittleProducto{
  width: 300px;
  height: 250px;
  float: right;
  background-color: var(--blue3);
  position: relative;
  bottom: 257px;
  right: 30px;
  border: var(--fondoGrey) solid 4px;
  border-style: dashed;
}
.txtTProd{
      margin: 20px;
}

.txtTPRo{
  font-size: 2em;
  font-family: var(--font2);
}
.bProd{
  border: var(--blue1) solid 5px;
}

.txtPRODUCTO{
  font-family: var(--font2);
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 2em;
  float: right;
  position: relative;
  bottom: 283px;
  right: 2em;
  color: var(--blue1);
}

.imgProdcutoBOX{
  width: 40%;
  height: 100%;
  background-color: var(--whitteSolid);
}
.imgBoxProducto{
  width: 60%;
  height: 100%;
}
.opcT{
  padding: 31px 30px;
  display: block;
}

.cuadroDetails{
  width: 90%;
  height: 150px;
  margin: 5%;
  background-color: var(--blue3);
  border: var(--fondoGrey) solid 2px;
  border-style: dashed;
}

.lineDivisor{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cuentas{
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--whitteSolid);
}

.contacto{
  width: 100%;
  height: auto;;
}
.ContMap{
  width: 100%;
  height: 500px;
}
.contForm{
  width: 100%;
  height: 500px;
  position: relative;
background: url(../images/fondoForm.jpg) center fixed no-repeat;
background-size: cover;
display: block;
}

.footer{
  width: 100%;
  height: 150px;
  background-color: var(--blue1);
}
