@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/*	 ESTILOS GENERALES	*/
:root {
--blue1:  #154777;
--blue2: #C0DAE5;
--blue3: #154777b8;
--blue4:  #c0dae594;

--fondoGrey: #DCDDDE;
--grey: #868992;
--textHover: #DDDDDD;
--whitteSolid: #FFF;
--blackSolid:  #000000;
--degrayBlack:  #000000d4;
--textFocus:  #000000;
--degrayBlackLow:  #0000007d;
--greenTrasparente:  #56af3185;
--google: #4F6A77;

--font1: 'Poiret One', cursive;
--font2: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.colorSemiDegradado {
    background: rgba(143,143,143,0.3);
    background: -moz-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(143,143,143,0.3)), color-stop(25%, rgba(0,0,0,0.37)), color-stop(66%, rgba(0,0,0,0.47)), color-stop(100%, rgba(31,31,31,0.56)));
    background: -webkit-linear-gradient(top, rgba(143, 143, 143, 0.15) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.22) 66%, rgba(31, 31, 31, 0.47) 100%);
    background: -o-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
    background: -ms-linear-gradient(top, rgba(143,143,143,0.3) 0%, rgba(0,0,0,0.37) 25%, rgba(0,0,0,0.47) 66%, rgba(31,31,31,0.56) 100%);
}
.colorDegradado {
    background: rgba(38,38,38,1);
    background: -moz-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,38,38,1)), color-stop(20%, rgba(32,32,32,0.8)), color-stop(50%, rgba(23,23,23,0.8)), color-stop(80%, rgba(10,10,10,0.8)));
    background: -webkit-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -o-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: -ms-linear-gradient(top, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    background: linear-gradient(to bottom, rgba(38,38,38,1) 0%, rgba(32,32,32,0.8) 20%, rgba(23,23,23,0.8) 50%, rgba(10,10,10,0.8) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#0a0a0a', GradientType=0 );
}
body{
  font-family: 'Poiret One', cursive;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  -webkit-box-shadow: 0px 23px 39px 10px rgba(0,0,0,0.32);
  -moz-box-shadow: 0px 23px 39px 10px rgba(0,0,0,0.32);
  box-shadow: 0px 23px 39px 10px rgba(0,0,0,0.32);
}

h1 {
  font-family: var(--font1);
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 50px;
}
h3 {
  font-family: var(--font2);
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 15.4px;
}
p {
  font-family: var(--font2);
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 20px;
}
  blockquote {
    font-family: var(--font2);
    font-size: 17.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
    }
  pre {
    font-family: var(--font2);
    font-size: 13px; font-style: normal;
    font-variant: normal;
    font-weight: 400; line-height: 18.5714px;
  }

  * {
    transition: width 2s;
    -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  }
  body{
    max-width: 1366px;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin: auto;
  }
 ul{
  margin: 0px;
 }
  .txtDer{
    text-align: left;
  }
  .txtIzq{
    text-align: right;
  }

#header{
  width: 100%;
  height: 100%;
  display: contents;
  position: relative;
  background-color: var(--google);
  position: relative;
  background: url(../images/bannerImage.jpg) center fixed no-repeat;
  background-size: cover;
  display: block;
}
.contHeader{
  width: 100%;
  height: 760px;
  margin: 0px;
}
#navbar1 {
  width: 300px;
  color: var(--blue1);
  height: 100%;
  display: grid;
}

#navbar1 a {
  display: block;
  color: var(--blue1);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#navbar1 a:hover {
  position: relative;
  background-color: var(--blue1);
  color: var(--blackSolid);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.contLogo{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
}
.pMenu{
  width: 100%;
  height: auto;
  font-size: 1.5em;
  text-align: center;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logoHeader{
  top: 20px;
  width: auto;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: center;
}
.contIMG{
    width: 100%;
    height: 100%;
}
.uniqueFont{
      font-size: 1em !important;
}

.circulo {
  z-index: 1;
  width: 300px;
  height: 150px;
  top: 400px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: var(--whitteSolid);
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  -moz-border-radius: 0 0 150px 150px;
  -webkit-border-radius: 0 0 150px 150px;
  border-radius: 0 0 150px 150px;
}

.titleHome{
  top: 35%;
  right: 15%;
  display: block;
  position: absolute;
  color: var(--whitteSolid);
  font-size: 4em;
}
.SubTitleHome{
  top: 44%;
  right: 20%;
  display: block;
  position: absolute;
  color: var(--whitteSolid);
  font-size: 3em;
}
.btnHome {
  top: 60%;
  right: 25%;
  position: absolute;
  display: block;
  width: 200px;
  border: none;
  background-color: var(--blue1);
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btnHome:hover {
    background-color: var(--blue2);
    color: var(--blue1);
}
.contMenus{
  position: relative;
  left: 10%;
  width: 300px;
  height: 400px;
  background-color: white;
}


#section{
  background-color: var(--fondoGrey);
  display: block;
}
.contAbout{
  top: -120px;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  background-color: var(--fondoGrey);
}
.about{
  background-color: var(--fondoGrey);
  width: 100%;
  height: auto;
}

.boxAbout{
  top: -150px;
  width: 90%;
  height: 350px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--whitteSolid);
  position: relative;
  display: flex;
  border-bottom: var(--grey) solid 10px;
}
.txtAbout{
  width: 46%;
  height: 90%;
  padding: 2%;
  padding-bottom: 0px;
}
.valoresAbout{
  width: 46%;
  height: auto;
  padding: 2%;
  padding-bottom: 0px;
  background: var(--blue1);
}
.boxValor{
  height: 80%;
  width: 96%;
  padding: 2%;
}
.txtValor1{
  font-size: 1.2em;
  width: 80%;
  color: var(--whitteSolid);
}
.txtValor2{
  width: 20%;
  font-size: 2em;
  writing-mode: vertical-lr;
  padding: 0px;
  text-align: -webkit-center;
  color: var(--whitteSolid);
}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
height: 80%;
position: relative;
margin: auto;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.activeDot {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}


.moveDiv{
  display: none;
  top: 0px;
  position: absolute;
  left: 10%;
}
.imgMove{
  width: 84px;
}

.contv{
  width: 100%;
  height: 100%;
  display: flex;
}

.contCatact{
  width: 100%;
  height: auto;
  display: flex;
  top: -50px;
  position: relative;
}
.contSec{
  padding-left: 7%;
  padding-top: 1%;
  padding-bottom: 0px;
  width: 40%;
  height: auto;
  display: block;
  justify-content: center;
}

.boxDesc{
  width: 100%;
  display: flex;
}
.iconDescr{
  width: 100px;
  height: auto;
}
.txtDesc{
width: 60%
}
.CCalidad{
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 30px;
}
.imgfondoCalidad{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: relative;
  background-size: cover;
  display: flex;
}
/*PRIMER ICONO*/
.iconPerfect {
    background: url(../images/quality.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconPerfect {
    background: url(../images/qualityB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*ICONO 2*/
.iconPedidos {
    background: url(../images/cargo-truck.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconPedidos {
    background: url(../images/cargo-truckB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*TERCER ICONO*/
.iconHechos {
    background: url(../images/measuring-tape.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconHechos {
    background: url(../images/measuring-tapeB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
/*CUARTO 2*/
.iconAtencion {
    background: url(../images/customer-service.png) center no-repeat;
    background-size: 60%;
}
.boxDesc:hover .iconAtencion {
    background: url(../images/customer-serviceB.png) center no-repeat;
    background-size: 100%;
    border: var(--blue2) solid 4px;
    background-size: 60%;
}
.iconLogoC {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
  background-color: var(--blue1);
  border: var( --blue1) solid 5px;
}
.gralBox:hover .iconLogoC{
  background-color: var(--blue2);
}

.productos {
  background: url(../images/tapiz-min.png) center;
  display: block;
  width: 100%;
  height: 100%;
}
.contTGralProd{
  width: 100%;
  height: auto;
}
.tProdGral{
  position: relative;
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
  color: var(--blue1);
  font-family: var(--font2);
}


/*Estilo de filtro de imagenes*/
#myBtnFilContainer{
	display: flex;
    justify-content: center;
        align-items: center;
}


.filterDiv {
  float: left;
  color: #ffffff;
  width: 100%;
  height: 300px;
  text-align: center;
  display: none;
}

.showFil {
  display: block;
}

.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 52px;
    margin-bottom: 10%;
    overflow: hidden;
    justify-content: center;
}

/* Style the buttons */
.fbtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--blue2);
  cursor: pointer;
  font-size: 1.3em;
}

.fbtn:hover {
  background-color: #ddd;
}

.fbtn.active {
  background-color: var(--blue1);
  color: white;
}

.imagenAjustada {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.txtFiltro{
	background-color: coral;
	position: relative;
}


/**/
.contenedorIMG:hover .img {
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
}
.contenedorIMG {
	overflow:hidden;
}

.img, .img:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px #666, 0px 5px 15px 0px #000;
    position: relative;
}

.txtTittleSector {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ff00002e;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    background: #262626;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.details{
  display: flex;
  height: 100%;
  width: 99%;
  border: var(--fondoGrey) solid 6px;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: var(--blue1);
    top: 0;
    left: 100%;
    /*padding: 60px 30px;*/
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
  margin: 20px 30px 10px;
  color: var(--blue1);
}

.ContSpecial{
	width: 100%;
	height: auto;
	    display: flex;
    justify-content: center;
}

.tittleProducto{
  width: 300px;
  height: 250px;
  float: right;
  background-color: var(--blue3);
  position: relative;
  bottom: 257px;
  right: 30px;
  border: var(--fondoGrey) solid 4px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.txtTProd{
      margin: 20px;
}

.txtTPRo{
  font-size: 2em;
  font-family: var(--font2);
}

.txtTProducto{
  font-size: 2em;
  font-family: var(--font2);
  margin-bottom: 10px;
  margin-top: 10px;
}

.bProd{
  border: var(--blue1) solid 5px;
}

.txtPRODUCTO{
  font-family: var(--font2);
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 2em;
  float: right;
  position: relative;
  bottom: 283px;
  right: 2em;
  color: var(--blue1);
  background-color: var(--blue4);
  padding-left: 25px;
  padding-right: 25px;
}

.imgProdcutoBOX{
  width: 40%;
    height: auto;
  background-color: var(--whitteSolid);
  color: var(--blue1);
}
.imgBoxProducto{
  width: 60%;
  height: 100%;
}
.opcT{
  padding: 31px 30px;
  display: block;
}

.cuadroDetails{
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--blue4);
    border: var(--fondoGrey) solid 2px;
    border-style: dashed;
    color: var(--blue1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lineDivisor{
  width: 100%;
  display: flex;
  justify-content: center;
}

.cuentas{
  width: 100%;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--whitteSolid);
}

.contacto{
  width: 100%;
  height: auto;;
}
.ContMap{
  width: 100%;
  height: 500px;
}
.contForm{
width: 100%;
height: 700px;
position: relative;
background: url(../images/fondoForm.jpg) center no-repeat;
background-size: cover;
display: flex;
}

.cForm,.cDatos{
  width: 50%;
  height: 100%;
}

.contenedorFormBlue{
  width: 85%;
  height: 85%;
  margin: 5%;
  background-color: var(--blue3);
  border: var(--whitteSolid) solid 4px;
}
/*FORM*/
.txtForm {
  font-size: .7em;
  margin: 5%;
  display: block;
}
.contFormCampo {
  width: 100%;
  display: block;
}
.campoFormLong {
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.protectionInfo {
    width: 100%;
    /* margin-right: 200px; */
    font-size: .7em;
    text-align: -webkit-right;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: 20px;
}
.campoForm {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}
.textField {
  position: relative;
  width: 55%;
  height: 35px;
  margin-right: 5%;
  margin-left: 10%;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.txtComent {
    margin: 0px;
    width: 75%;
    /* height: 100px; */
    position: relative;
    /* width: 50%; */
    /* height: 20px; */
    float: right;
    /* margin-right: 5%; */
    margin-left: 5%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    /* justify-content: flex-end; */
}

.txtArea {
  margin: 15px;
  width: 55%;
  height: 100px;
  margin-right: 5%;
  margin-left: 5%;
}

.lblForm{
  text-align: left;
  font-size: 2em
}

.button {
  display: inline-block;
  background-color: var(--blue1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px;
}
.button:hover{
  background-color: var(--blue2);
  color: var(--blue1);

}
.formLink {
    font-size: 1.5em;
    margin: 5%;
    display: block;
}

.tContacto{
  font-family: var(--font2);
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  color: var(--blue1);
  text-align: center;
  padding-right: 10%;
}

.contTel{
  width: 80%;
  height: 70%;
  margin: 5%;
  background-color: var(--blue4);
}
.txtTel{
  padding: 5%;
  font-size: 3em;
  line-height: 70px;
  text-align: center;
  color: var(--blue1);
  font-family: var(--font2);
}
.txtCorreo{
  font-size: 1.5em;
  line-height: 70px;
  text-align: center;
  color: var(--blue1);
  font-family: var(--font2);
}
.footer{
  width: 100%;
  height: 100%;
  background-color: var(--fondoGrey);
}
.contLegales{
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  position: relative;
}
.logoFooter{
  width: 200px;
  height: 100%;
  padding: 20px;
}
.logoF,.logosRedes{
  display: flex;
  justify-content: center;
}
.logoRed{
  width: 25px;
  height: 25px;
  padding: 2px;
}

.ContPrivacidad{
  text-align: center;
  padding: 20px;
}
.txtP{
  margin: 0px;
  color: var(--grey);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--blue3);
  color: var(--blue4);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: var(--blue1);
    color: var(--blue2);
}

.tProIndv{
      margin-top: 50px;
}

/*/ ABANICO PROD /*/
/*Acco*/

.ac-container label {
  height: auto !important;
  line-height: 21px !important;
  font-size: 11px !important;
  /* font-family: 'Open Sans','Arial Narrow',Arial,sans-serif !important; */
  padding: 2px 30px;
  position: relative;
  /* z-index: 20; */
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
  line-height: 33px;
  font-size: 19px;
  background: #fff;
  background: -moz-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#fff),color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -o-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: -ms-linear-gradient(top,#fff 1%,#eaeaea 100%);
  background: linear-gradient(top,#fff 1%,#eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(155,155,155,0.3), 1px 0 0 rgba(255,255,255,0.9) inset, 0 2px 2px rgba(0,0,0,0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container {
    width: 100%;
    text-align: left;
}

.ac-container label:hover {
    background: #fff;
}

.ac-container input:checked + label,.ac-container input:checked + label:hover {
    background: #f1f2f3;
    color: #666;
    text-shadow: 0 1px 1px rgba(255,255,255,0.6);
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3),0 2px 2px rgba(0,0,0,0.1);
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}

.ac-container label:hover:after,.ac-container input:checked + label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
}


.ac-container input {
    display: none;
}

.ac-container article {
  background: var(--blue4);
  /* margin-top: -1px; */
  overflow: hidden;
  height: 0;
  position: relative;
  -webkit-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out,box-shadow 0.6s linear;
}

.ac-container article p {
    font-style: normal;
    color: #777;
    line-height: 23px;
    font-size: 10px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    font: normal normal 12px 'Open Sans';
}

.ac-container input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out,box-shadow 0.1s linear;
    box-shadow: 0 0 0 1px rgba(155,155,155,0.3);
}

.ac-container input:checked ~ article.ac-small {
    height: auto;
    overflow-x: auto;
}

.ac-container input:checked ~ article.ac-medium {
    height: auto;
    overflow-x: auto;
}

.ac-container input:checked ~ article.ac-large {
    height: auto;
    overflow-x: auto;
}

.accor{
      height: 100% !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid var(--blue2);
}

tr:nth-child(even){background-color: #f2f2f2}

.tableP{
  overflow-x: auto;
    color: var(--blue1);
}

.animatedLogo {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes zoomInDown {
  0% {
      opacity: 0;
      transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
      opacity: 1;
      transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}
.zoomInDown {
  animation-name: zoomInDown;
}
.imgCuentas{
  width: 100%;
  height: auto;
}


/*INICIO DE ESTILOS EFFECTS*/

.open {
  left: 10px;
  position: relative;
  top: 10px;
  width: 50px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.open:hover {
opacity: 0.8;
}
.open span {
  display: block;
  float: left;
  clear: both;
  height: 4px;
  width: 40px;
  border-radius: 40px;
  background-color: #fff;
  position: absolute;
  right: 3px;
  top: 3px;
  overflow: hidden;
  transition: all 0.4s ease;
}
.open span:nth-child(1) {
margin-top: 10px;
z-index: 9;
}
.open span:nth-child(2) {
margin-top: 25px;
}
.open span:nth-child(3) {
margin-top: 40px;
}

.sub-menu {
transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
height: 0;
width: 0;
right: 0;
top: 0;
position: absolute;
background-color: rgba(38, 84, 133, 0.54);
border-radius: 50%;
z-index: 18;
overflow: hidden;
}
.sub-menu li {
display: block;
float: right;
clear: both;
height: auto;
margin-right: -160px;
transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sub-menu li:first-child {
margin-top: 180px;
}
.sub-menu li:nth-child(1) {
-webkit-transition-delay: 0.05s;
}
.sub-menu li:nth-child(2) {
-webkit-transition-delay: 0.10s;
}
.sub-menu li:nth-child(3) {
-webkit-transition-delay: 0.15s;
}
.sub-menu li:nth-child(4) {
-webkit-transition-delay: 0.20s;
}
.sub-menu li:nth-child(5) {
-webkit-transition-delay: 0.25s;
}
.sub-menu li a {
color: #fff;
font-family: 'Lato', Arial, Helvetica, sans-serif;
font-size: 16px;
width: 100%;
display: block;
float: left;
line-height: 40px;
}

.oppenned .sub-menu {
opacity: 1;
height: 400px;
width: 400px;
}
.oppenned span:nth-child(2) {
overflow: visible;
}
.oppenned span:nth-child(1), .oppenned span:nth-child(3) {
z-index: 100;
-webkit-transform: rotate(45deg);
        transform: rotate(45deg);
}
.oppenned span:nth-child(1) {
-webkit-transform: rotate(45deg) translateY(12px) translateX(12px);
        transform: rotate(45deg) translateY(12px) translateX(12px);
}
.oppenned span:nth-child(2) {
  height: 395px;
  width: 400px;
  left: -100px;
  top: -160px;
border-radius: 50%;
background-color: rgba(38, 84, 133, 0.54);
}
.oppenned span:nth-child(3) {
-webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px);
        transform: rotate(-45deg) translateY(-10px) translateX(10px);
}
.oppenned li {
margin-right: 100px;
}

.button {
display: block;
float: left;
clear: both;
padding: 20px 40px;
border-radius: 3px;
border: 2px solid var(--whitteSolid);
overflow: hidden;
position: relative;
}
.button:after {
transition: -webkit-transform 0.3s ease;
transition: transform 0.3s ease;
transition: transform 0.3s ease, -webkit-transform 0.3s ease;
content: "";
position: absolute;
height: 200px;
width: 400px;
-webkit-transform: rotate(45deg) translateX(-540px) translateY(-100px);
        transform: rotate(45deg) translateX(-540px) translateY(-100px);
color: var(--blue1);
z-index: 1;
}
.button:before {
transition: -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
content: attr(title);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: #fff;
z-index: 2;
text-align: center;
padding: 20px 40px;
-webkit-transform: translateY(200px);
        transform: translateY(200px);
}
.button:hover {
text-decoration: none;
}
.button:hover:after {
-webkit-transform: translateX(-300px) translateY(-100px);
        transform: translateX(-300px) translateY(-100px);
}
.button:hover:before {
-webkit-transform: translateY(0);
        transform: translateY(0);
}

/*EFECTOS MENUS*/




.mobile{
  display: none;
}
.open, .logoResposive {
  display: none;
}








/* ++++++++++++++++++++++++++++++ RESPONSIVE +++++++++++
PARA IPADS / TABLETAS      */
    /*TABLET HORIZONTAL*/
@media (min-width:861px) and (max-width:1024px) {
  body {
      max-width: 1024px;
  }
  #header {
      background: url(../images/bannerImage.jpg) center no-repeat;
      background-size: cover;
  }
  .open {
    display: none;
  }
  .contMenus {
      left: 5%;
  }
  .titleHome {
      right: 3%;
      font-size: 3em;
  }
  .SubTitleHome {
      top: 43%;
      right: 10%;
      font-size: 2.5em;
  }
  .btnHome {
      top: 57%;
      right: 34%;
  }
    .txtDer {
      margin: 0px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  p {
      font-size: 14px;
      line-height: 16px;
  }
  h3 {
      line-height: 20px;
  }
  .txtTel {
      font-size: 1.4em;
      line-height:em0px;
  }
  .formLink {
      font-size: 1.3em;
      margin: 0px;
  }
}
    /*TABLET VERTICAL*/

@media  (min-width:470px) and (max-width:860px) {
  body {
        max-width: 1024px;
      font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
  }
  .filterDiv {
    height: 370px;
}
  .open {
    display: none;
  }
  #header {
      background: url(../images/bannerImage.jpg) center no-repeat;
      background-size: cover;
  }
  .logoHeader {
    height: 90px;
}
.txtCorreo {
    font-size: 2.2em;
}
  .contMenus {
      left: 2%;
          width: 250px;
  }
  #navbar1 {
        width: 250px;
    }
    .contLogo {
      width: 250px;
  }
  .circulo {
      width: 250px;
      top: 380px;
  }
  .titleHome {
    top: 30%;
    right: 12%;
    font-size: 2em;
  }
  .SubTitleHome {
      top: 38%;
      right: 10%;
      font-size: 2em;
  }
  .btnHome {
      top: 50%;
      right: 32%;
  }
  .txtDer {
      margin: 0px;
  }
  p {
      font-size: 12px;
      line-height: 16px;
  }
  .txtValor1 {
      font-size: 1em;
      width: 80%;
      color: var(--whitteSolid);
  }
  h2{
    margin: 0px;
  }
  h3 {
      font-size: 20px;
      line-height: 20px;
  }
  .contCatact {
      display: block;
  }
  .contSec {
      padding-left: 10%;
      padding-top: 0%;
      width: 90%;
  }

  .fbtn {
      font-size: 1em;
  }
  .contForm {
      display: block;
      height: auto;
  }
  .txtTProducto {
    font-size: 1.5em;
  }
  .ContMap {
      height: 600px;
  }
  .cForm, .cDatos {
      width: 90%;
      height: 90%;
      padding: 5%;
  }
  .contenedorFormBlue {
      width: 90%;
      height: 90%;
      margin: 5%;
  }
  .tContacto {
      padding-right: 0px;
  }
  .contTel {
      width: 90%;
      height: 90%;
      margin: 5%;
  }

  .containerCuentas {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto !important;
  }

}
/*Portatil de forma vertical */
@media screen and (max-width:740px), and (orientation: portrait){
  body {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
      -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.32);
  }
  .moveDiv{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: absolute;
  }
  .titleHome {
      width: 100%;
      text-align: center;
      top: 35%;
      right: 0px;
      font-size: 2em;
  }
  .SubTitleHome {
    top: 39%;
    font-size: 2.5em;
    right: 0px;
    text-align: center;
  }
  .btnContactar{
    justify-content: center;
    display: flex;
  }
  .btnHome {
    right: 25%;
}
.boxAbout {
    height: auto;
    display: block;
}
.txtAbout, .valoresAbout {
    width: 98%;
}
.txtValor1,.txtValor2 {
    font-size: 1em;
}

.contCatact {
    display: block;
}
.contSec {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}
.boxDesc {
      display: block;
  }
  .CCalidad {
      width: 100%;
      justify-content: center;
      margin-bottom: 0px;
      height: 120px;
      padding: 0px;
  }
.txtDesc{
  width: 100%;
}
p {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.txtCorreo {
    font-size: 120%;
}
.txtDer {
    text-align: center;
}
h3 {
    text-align: center;
}
#myBtnFilContainer {
    display: grid;
}

.tittleProducto {
    width: 100%;
    height: 25%;
    bottom: 25%;
    right: 0px;
    border: var(--fondoGrey) solid 0px;
  }

.container {
  margin-top: 5px;
  margin-bottom: 5%;
  margin-left: 0px;
  margin-right: 0px;
}
.imgBoxProducto, .imgProdcutoBOX {
    width: 100%;
}
.details {
    display: block;
    border: var(--fondoGrey) solid 0px;
}
.tCard{height: 300px;}
.filterDiv {
    height: auto;
}
.opcT {
    padding: 0px 10px;
}
.txtTPRo {
    font-size: 1.5em;
    margin: 0px;
    margin-top: 10px;
}
.card:hover .details {
    font-size: .8em;
}
.cuadroDetails {
    height: auto;
    border: var(--fondoGrey) solid 0px;
}
.ac-container input:checked ~ article.ac-small {
    overflow-x: scroll;
}
.ac-container input:checked ~ article.ac-medium {
  height: auto;
  overflow-x: scroll;
}
table {
    width: max-content;
}
.txtTProducto {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: initial;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sTDetails{
  width: 100%;
}

.contForm {
    height: auto;
    display: block;
}
.tProdGral {
    font-size: 2em;
}
.cForm, .cDatos {
      width: 100%;
  }
  .txtTel {
    font-size: 2em;
    line-height: 50px;
  }

  .campoForm {
    display: block;
}
.textField {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}
.txtArea {
    margin: 0px;
    margin-top: 10px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    float: none;
}
.protectionInfo {
  display: block;
  text-align: -webkit-center;
  margin-bottom: 0px;
  margin-top: 20px;
}
.formLink {
    font-size: 1.2em;
    margin: 0px;
}
.tContacto {
      font-size: 2em;
      padding-right: 0px;
  }
  .contTel {
    width: 95%;
    height: auto;
    margin: 0px;
    background-color: var(--whitteSolid);
    text-align: center;
}
#header {
    background: url(../images/bannerImage.jpg) center no-repeat;
    background-size: cover;
}


.open {
  display: flex;
}

.imgCuenta{
      width: 200px;
}

.containerCuentas {
      display: block !important;
      text-align: center;
    }
  .logoResposive {
    display: flex;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 0;
    padding-left: 22%;
    padding-top: 5%;
  }
}
/*     media para pantalla pequeÃ±a y horizontal */
@media (min-width:470px) and (max-width:740px)  and (orientation: landscape){
.containerCuentas {
    display: grid !important;
    grid-template-areas: 'g0 g1' 'g2 g3' ' g4 g5' 'g6 g7' 'g8 g9' !important;
}

  .cForm, .cDatos {
      width: 100%;
      padding: 0px;
  }
  .ac-container input:checked ~ article.ac-medium {
      height: auto;
      overflow-x: scroll;
  }
  .ac-container input:checked ~ article.ac-small {
      overflow-x: scroll;
  }
  .contForm {
      display: flex;
  }
  .campoForm {
    display: block;
    text-align: center;
}
.titleHome {
    top: 25%;
}
.SubTitleHome {
    top: 35%;
    right: 50px;
}
.contHeader {
    height: 430px;
}
.titleHome {
    top: 20%;
    right: 70px;
}
.contCatact {
    display: flex;
}
#myBtnFilContainer {
    display: flex;
    font-size: 12px;
}
.logoResposive {
  display: flex;
    position: absolute;
    width: 200px;
    height: auto;
    padding: 0%;
    right: 10%;
        top: 5%;
}

}


.containerCuentas {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


/*PRIVACIDAD*/
.avisoFormat{
  cursor: pointer;
}

.aviso{
  width: 90%;
  height: auto;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: var(--blue1);
  color: #fff;
}
